@use "_helpers.scss" as *;

.header {
  @include flex-center(inline-flex, row, $space-2);
  justify-content: space-between;
  padding: $space-2 $space-4;
  color: white;

  button {
    // position: absolute;
    // z-index: 11111;
  }

  span {
    z-index: 10;
    @include fluid-text(1rem, 1.25rem);
    flex: 1;
    padding-left: $space-4;
  }

  @include respond(md) {
    flex-direction: column;
    span {
      padding: $space-2 0;
      text-align: center;
    }
  }
}

.introduction {
  position: relative;
  @include flex-center(flex, row, $space-4);
  padding: $space-4;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  color: white;

  @include respond(md) {
    flex-direction: column;
    height: auto;
  }
}

// BACKGROUND
.backgroundLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-bg;
  z-index: 0;
}

.el {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 180deg at 50% 70%,
    $color-white 0deg,
    #eec32d 72deg,
    #b2e131 144deg,
    #0b58c3 216deg,
    #26b826 288deg,
    $color-white 1turn
  );
  z-index: 0;

  -webkit-mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      50px 50px,
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px
      256px;

  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      50px 50px,
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px
      256px;

  mask-composite: intersect;
  animation: flicker 60s infinite linear;

  @keyframes flicker {
    to {
      mask-position:
        50% 100%,
        50% 50%;
    }
  }
}

.textContainer {
  z-index: 1;
  width: 50%;
  padding-left: 10em;
  padding-right: $space-2;
  text-align: justify;

  @include respond(md) {
    width: 100%;
    padding-left: $space-2;
  }
}

.listContainer {
  display: flex;
  justify-content: space-evenly;
  gap: $space-4;

  > #firstHalf {
    margin-right: $space-3;
  }

  @include respond(md) {
    flex-direction: column;
    align-items: center;
    gap: $space-2;
  }
}

// PROJECTS SECTION
.projects {
  background: $color-black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  a {
    position: relative;
    display: inline-block;
    margin: $space-3 0;
    padding: $space-2 $space-4;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: $color-white;
    transform: scale(1);
    transition: transform 0.35s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    // animated lines
    &::before,
    &::after,
    span::before,
    span::after {
      content: "";
      position: absolute;
      background: $color-white;
      transform: scale(0);
      transition: 0.75s ease;
    }

    &::before {
      top: 0;
      left: -50%;
      width: 80%;
      height: 2px;
    }

    &::after {
      bottom: 0;
      right: -50%;
      width: 80%;
      height: 2px;
    }

    span::before {
      bottom: -50%;
      left: 0;
      width: 2px;
      height: 100%;
    }

    span::after {
      top: -50%;
      right: 0;
      width: 2px;
      height: 100%;
    }

    &:hover::before,
    &:hover::after,
    &:hover span::before,
    &:hover span::after {
      transform: scale(1);
    }
  }
}

// CONVERTER
.converterWrapper {
  @include flex-center(flex, column, $space-2);
  width: 100%;
  padding: $space-4;
}
