.wrapper {
  height: 100vh;
  width: 100vw;
    background-color: black;
}

.page {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0;

    > h1 {
      font-size: 3rem;
      color: white;
      text-align: center;
    }
  }

.container {
  width: 25vw;
  border: 1px solid yellow;
  padding: 1rem 1rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 0 20% 0;

  .history {
    color: gray;
    border: none;
    border-bottom: 1px solid gray;
  }
  .screen {
    color: white;
    margin-bottom: 1rem;
    border: none;
  }
  .history,
  .screen {
    background-color: transparent;
    text-align: right;
    font-size: 3rem;
    padding-top: 2rem;
    min-width: 5rem;
    &:focus {
      outline: none;
    } // to fit the screen to the width of buttons
  }
  .grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    .basicFuncs,
    .upperRow,
    .middleRow,
    .lowerRow,
    .lastRow {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 5px;
      > * {
        // all elements within sections.
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 1.25rem;
        font-size: 2.5rem;
        text-align: center;
        border-radius: 999px;
        box-shadow: 0 4px 0 transparent;
        transition: all 0.1s ease-in-out;
        &:active {
          background-color: #fffcfcbf;
          transform: translateY(3px);

          /* Shrink shadow → looks pressed in */
          box-shadow: 0 1px 0 transparent;
        }
      }
    }
    .zero {
      grid-column: 1/3;
      width: auto;
    }
  }
}

// styles for /,*,+,-,=
.calcs {
  background-color: #dc7b21;
}

.percent,
.plusminus,
.ac {
  background-color: #ffffff87;
}
