@use './styles/_mixins.scss' as *; // not useful or applicable here, mixins are for more complex applications, did that just for practice.

/* 3) apply globally (optional) so body uses the font by default */
html, body {
  height: 100vh;

  margin: 0;
  font-size: 16px;
}
